@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

// VARIABLES
$font-stack: "Open Sans", sans-serif;
$base-space: 24px;
$primary-color: #909e9b;
$background-color: #cce3de;
$surface-color: #f6fff8;
$light-text: white;
$dark-text: #302f2f;
$dark-subtitle-text: #302f2f83;
$main-content-spacing: 1rem;

// INTERFACES
%transition-base {
  transition: 0.18s ease-in-out;
}

// MIXINS
@mixin test-border($color) {
  border: 1px solid $color;
}

// STYLES
* {
  box-sizing: border-box;
  font-family: $font-stack;
  margin: 0;
}

body {
  background-color: $background-color;
  color: $dark-text;
}

div#top-spacer {
  background-color: $primary-color;
  height: 0.5rem;
}

header#top-header {
  background-color: $surface-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  img {
    height: 15rem;
    border-radius: 50rem;
  }
  div#top-header-info {
    font-size: 1.5rem;
    h3 {
      color: $dark-subtitle-text;
    }
    div#top-header-icons {
      text-align: center;
      margin-top: 1rem;
      a {
        i {
          @extend %transition-base;
          color: $dark-subtitle-text;
          font-size: 2.5rem;
        }
        &:hover {
          i {
            color: $dark-text;
          }
        }
        margin-right: 1rem;
      }
      :last-child {
        margin-right: 0;
      }
    }
  }
}

main {
  padding: $main-content-spacing;
  display: flex;
  flex-direction: column;
  div {
    section {
      background-color: $surface-color;
      margin-bottom: $main-content-spacing;
      padding: $main-content-spacing;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
  div#main-content-left-top {
    flex: 2;
    margin-bottom: $main-content-spacing;
  }
}

// LARGER SCREENS
@media only screen and (min-width: 768px) {
  header#top-header {
    flex-direction: row;
    img {
      margin-left: 10rem;
    }
    div#top-header-info {
      margin-left: 2.5rem;
      div#top-header-icons {
        text-align: left;
        margin-top: 1rem;
      }
    }
  }

  main {
    flex-direction: row;
    div#main-content-left-top {
      flex: 2;
      margin-right: $main-content-spacing;
      margin-bottom: 0px;
    }
    div#main-content-right-bottom {
      flex: 1;
    }
  }
}
