@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

// VARIABLES
$font-stack: "Open Sans", sans-serif;
$primary-color: #909e9b;
$background-color: #cce3de;
$surface-color: #f6fff8;
$dark-text: #302f2f;
$dark-subtitle-text: #302f2fa8;
$main-content-spacing: 1rem;

// INTERFACES
%transition-base {
  transition: 0.18s ease-in-out;
}

// MIXINS
@mixin test-border($color) {
  border: 1px solid $color;
}

@mixin progress-bar-mixin($interval) {
  width: ($interval/3) * 100%;
}

// STYLES
* {
  box-sizing: border-box;
  font-family: $font-stack;
  margin: 0;
}

body {
  background-color: $background-color;
  color: $dark-text;
}

div#top-spacer {
  background-color: $primary-color;
  height: 0.5rem;
}

header#top-header {
  background-color: $surface-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  img {
    height: 15rem;
    border-radius: 50rem;
  }
  div#top-header-info {
    margin-top: 1rem;
    text-align: center;
    #top-header-name {
      font-size: 3rem;
    }
    #top-header-title {
      font-size: 1.5rem;
      color: $dark-subtitle-text;
    }
    div#top-header-icons {
      margin-top: 1rem;
      a {
        @extend %transition-base;
        color: $dark-subtitle-text;
        font-size: 2.5rem;
        &:hover {
          color: $dark-text;
        }
        margin-right: 1rem;
      }
      :last-child {
        margin-right: 0;
      }
    }
  }
}

main {
  padding: $main-content-spacing * 2 $main-content-spacing;
  display: flex;
  flex-direction: column;
  div {
    section {
      background-color: $surface-color;
      margin-bottom: $main-content-spacing;
      padding: $main-content-spacing;
      header {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        color: $dark-subtitle-text;
        text-align: center;
      }
    }
    :last-child {
      margin-bottom: 0;
    }
  }
  div#main-content-left-top {
    margin-bottom: $main-content-spacing;
  }

  div#main-content-right-bottom {
    section#skills-section {
      div.container {
        display: flex;
        flex-direction: column;
        div.progress-container:last-of-type {
          margin-bottom: 0;
        }
        div.progress-container {
          margin-bottom: 1rem;
          div.info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 0.5rem;
            p.skill {
              font-weight: 600;
            }
            p.level {
              color: $dark-subtitle-text;
            }
          }
          div.progress-bar {
            background-color: $primary-color;
            height: 1rem;
            div.progress-amount {
              height: 100%;
              background-color: $dark-text;
              @include progress-bar-mixin(1);
              &.intermediate {
                @include progress-bar-mixin(2);
              }
              &.advanced {
                @include progress-bar-mixin(3);
              }
            }
          }
        }
      }
    }
    section#education-section {
      div.container {
        display: flex;
        i {
          color: $dark-subtitle-text;
          margin-right: 1rem;
        }
        div.sub-container {
          display: flex;
          flex-direction: column;
          p.degree {
            font-weight: 600;
          }
          p.school {
            color: $dark-subtitle-text;
          }
        }
      }
    }
  }
}

// LARGER SCREENS
@media only screen and (min-width: 768px) {
  header#top-header {
    flex-direction: row;
    img {
      margin-left: 10rem;
    }
    div#top-header-info {
      margin-left: 2.5rem;
      text-align: left;
      div#top-header-icons {
        margin-top: 1rem;
      }
    }
  }

  main {
    padding: $main-content-spacing * 2 $main-content-spacing * 4;
    flex-direction: row;
    div#main-content-left-top {
      flex: 2;
      margin-right: $main-content-spacing;
      margin-bottom: 0px;
    }
    div#main-content-right-bottom {
      flex: 1;
    }
  }
}
