@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

// VARIABLES
$font-stack: "Open Sans", sans-serif;
$base-space: 24px;
$primary-color: #909e9b;
$background-color: #cce3de;
$surface-color: #f6fff8;
$light-text: white;
$dark-text: #302f2f;
$dark-subtitle-text: #302f2f83;

// INTERFACES
%transition-base {
  transition: 0.18s ease-in-out;
}

// MIXINS
@mixin test-border($color) {
  border: 1px solid $color;
}

// STYLES
* {
  box-sizing: border-box;
  font-family: $font-stack;
  margin: 0;
}

body {
  background-color: $background-color;
  color: $dark-text;
}

div#top-spacer {
  background-color: $primary-color;
  height: 0.5rem;
}

header#top-header {
  background-color: $surface-color;
  display: flex;
  align-items: center;
  padding: 1% 0%;
  img {
    margin-left: 15%;
    height: 15rem;
    border-radius: 50%;
  }
  div#top-header-info {
    margin-left: 2%;
    font-size: 1.5rem;
    h3 {
      color: $dark-subtitle-text;
    }
    div#top-header-icons {
      margin-top: 5%;
      a {
        i {
          @extend %transition-base;
          color: $dark-subtitle-text;
          font-size: 2.5rem;
        }
        &:hover {
          i {
            color: $dark-text;
          }
        }
        margin-right: 5%;
      }
      :last-child {
        margin-right: 0;
      }
    }
  }
}

// /* Phones */
// @media only screen and (max-width: 1200px) {
//   // Turn off parallax scrolling
//   .parallax-base {
//     background-attachment: scroll;
//   }
//   #parallax1 {
//     #header-container {
//       header {
//         .brand {
//           .logo {
//             margin: 0px;
//           }
//           .title {
//             display: none;
//           }
//         }
//         nav {
//           display: none;
//         }
//         #menu-icon {
//           display: flex;
//         }
//       }
//     }
//     .jumbotron {
//       .description {
//         @include large-text-mixin(2rem);
//       }
//       .name {
//         @include large-text-mixin(4rem);
//       }
//     }
//   }
//   .content {
//     padding: $base-space;
//     header {
//       h1 {
//         @include large-text-mixin(2rem);
//       }
//     }
//   }
// }
