body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(88, 88, 88);
}

.container {
  text-align: center;
}

.cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("cover.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  /* animation: bump-up 1s; */
}

/* @keyframes bump-up {
    0%   {transform: translateY(0px);}
    25%  {transform: translateY(-20px);}
    50%  {transform: translateY(-5px);}
    75%  {transform: translateY(-10px);}
    100% {transform: translateY(0px);}
} */

.cover .logo {
  font-size: 750%;
  font-weight: 500;
  padding-top: 30vh;
}

.cover #tag-line {
  font-size: larger;
}

.flex-container {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
}

.flex-container > section {
  padding: 1vh 1vw;
}

a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 768px) {
  .cover .logo {
    font-size: 600%;
    padding-top: 20vh;
  }
  .flex-container {
    flex-flow: row wrap;
  }
}

@media only screen and (min-width: 768px) {
  a:hover {
    color: black;
  }
}
