@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

// ROOT VARIABLES
$font-stack: "Open Sans", sans-serif;
$primary-color: #909e9b;
$background-color: #cce3de;
$surface-color: #f6fff8;
$dark-text: #302f2f;
$dark-subtitle-text: #302f2fa8;

// INTERFACES
%transition-base {
  transition: 0.18s ease-in-out;
}

// MIXINS
@mixin test-border($color) {
  border: 1px solid $color;
}

@mixin progress-bar-mixin($interval) {
  width: ($interval/3) * 100%;
}

@mixin link-mixin($color, $hover-color) {
  @extend %transition-base;
  color: $color;
  text-decoration: none;
  &:hover {
    color: $hover-color;
  }
}

// STYLES
* {
  box-sizing: border-box;
  font-family: $font-stack;
  margin: 0;
}

body {
  background-color: $background-color;
  color: $dark-text;
}

ul {
  margin-bottom: 1rem;
}
li {
  margin-bottom: 0.5rem;
}

.top-spacer {
  background-color: $dark-text;
  height: 0.5rem;
}
.top-header {
  background-color: $surface-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  img {
    height: 15rem;
    border-radius: 50rem;
  }
  &-info {
    margin-top: 1rem;
    text-align: center;
  }
  &-name {
    font-size: 3rem;
  }
  &-title {
    font-size: 1.5rem;
    color: $dark-subtitle-text;
  }
  &-icons {
    margin-top: 1rem;
    a {
      @include link-mixin($dark-subtitle-text, $dark-text);
      font-size: 2.5rem;
      margin-right: 1rem;
    }

    :last-child {
      margin-right: 0;
    }
  }
}

$main-content-spacing: 1rem;
main {
  padding: $main-content-spacing * 2 $main-content-spacing;
  display: flex;
  flex-direction: column;
}
.main-content {
  section {
    background-color: $surface-color;
    margin-bottom: $main-content-spacing;
    padding: $main-content-spacing;
    header {
      font-size: 1.5rem;
      padding-bottom: 1rem;
      color: $dark-subtitle-text;
      text-align: center;
    }
  }
  :last-child {
    margin-bottom: 0;
  }
}
.left-top {
  margin-bottom: $main-content-spacing;
}
.project-section {
  h4 {
    margin-bottom: 1rem;
    a {
      @include link-mixin($dark-subtitle-text, $dark-text);
    }
  }
}
.work-section {
  h4 {
    margin-bottom: 1rem;
    span {
      color: $dark-subtitle-text;
    }
  }
}
.contact-section {
  .container {
    display: flex;
    flex-direction: column;
    p {
      margin-bottom: 0.5rem;
    }
    i {
      color: $dark-subtitle-text;
      margin-right: 0.5rem;
    }
    a {
      @include link-mixin($dark-subtitle-text, $dark-text);
    }
  }
}
.skills-section {
  .container {
    display: flex;
    flex-direction: column;
  }
}
.progress {
  margin-bottom: 1rem;
  &-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    .skill {
      font-weight: 600;
    }
    .level {
      color: $dark-subtitle-text;
    }
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &-bar {
    background-color: $primary-color;
    height: 1rem;
    .progress-amount {
      height: 100%;
      background-color: $dark-text;
      @include progress-bar-mixin(1);
      &.intermediate {
        @include progress-bar-mixin(2);
      }
      &.advanced {
        @include progress-bar-mixin(3);
      }
    }
  }
}
.education-section {
  .container {
    display: flex;
    i {
      color: $dark-subtitle-text;
      margin-right: 1rem;
    }
  }
  .school {
    display: flex;
    flex-direction: column;
    &-degree {
      font-weight: 600;
    }
    &-name {
      color: $dark-subtitle-text;
    }
  }
}

footer {
  text-align: center;
  padding: 0.5rem 0;
  background-color: $dark-text;
  color: $surface-color;
  font-size: 0.85rem;
}
.footer-icons {
  a {
    @include link-mixin($surface-color, $primary-color);
    margin-right: 1rem;
    font-size: 1.75rem;
  }
  :last-child {
    margin-right: 0;
  }
}

// LARGER SCREENS
@media only screen and (min-width: 768px) {
  .top-header {
    flex-direction: row;
    img {
      margin-left: 10rem;
    }
  }
  .top-header-info {
    margin-left: 2.5rem;
    text-align: left;
  }
  .top-header-icons {
    margin-top: 1rem;
  }

  main {
    padding: $main-content-spacing * 2 $main-content-spacing * 4;
    flex-direction: row;
  }
  .left-top {
    flex: 2;
    margin-right: $main-content-spacing;
    margin-bottom: 0px;
  }
  .right-bottom {
    flex: 1;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-icons {
    margin-left: 1rem;
  }
}
